@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme="vintage"] {
	--theme-font-family-base: 'Roboto', sans-serif;
	--theme-font-family-base: 'Merriweather', serif;

}

